# 실습환경세팅

## 코랩으로 결과제출

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## EDA와 모델링에 사용할 데이터프레임 불러오기

- 아래의 데이터로 와인의 품질을 분류하는 모델을 생성

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/와인/train.csv')
df

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,5492,5,7.7,0.150,0.29,1.3,0.029,10.0,64.0,0.99320,3.35,0.39,10.1,white
5493,5493,6,6.3,0.180,0.36,1.2,0.034,26.0,111.0,0.99074,3.16,0.51,11.0,white
5494,5494,7,7.8,0.150,0.34,1.1,0.035,31.0,93.0,0.99096,3.07,0.72,11.3,white
5495,5495,5,6.6,0.410,0.31,1.6,0.042,18.0,101.0,0.99195,3.13,0.41,10.5,white
5496,5496,6,7.0,0.350,0.17,1.1,0.049,7.0,119.0,0.99297,3.13,0.36,9.7,white

## 결과 제출

- 모델링에 앞서 submission파일의 quality를 임의의 값으로 채워 넣고

  csv파일로 만들어서 제출

In [ ]:
submission = pd.read_csv('/content/drive/MyDrive/와인/sample_submission.csv')
submission

     index  quality
0        0        0
1        1        0
2        2        0
3        3        0
4        4        0
..     ...      ...
995    995        0
996    996        0
997    997        0
998    998        0
999    999        0

[1000 rows x 2 columns]

In [ ]:
submission['quality'] = 1
submission

     index  quality
0        0        1
1        1        1
2        2        1
3        3        1
4        4        1
..     ...      ...
995    995        1
996    996        1
997    997        1
998    998        1
999    999        1

[1000 rows x 2 columns]

In [ ]:
submission.to_csv('submission.csv', index=False)

# 파이썬 기초

- 대화형 인터프리터

인터프리터 : 사용자가 입력한 코드를 실행하는 환경


대화형 : 입력에 따른 결과값이 바로 출력, 입력과 출력이 번갈아 이어지는게 마치 대화하는거 같아서 대화형 인터프리터라고 부름

In [ ]:
1+1

2

## 파이썬 기초 문법

- 사칙연산

In [ ]:
1+2

3

In [ ]:
24/3

8.0

In [ ]:
3*8

24

## 변수 대입

In [ ]:
a = 3
b = 8
a+b

11

In [ ]:
a*b

24

In [ ]:
b/a

2.6666666666666665

- 변수에 문자 대입하고 출력

In [ ]:
a = 'python'
print(a)

python

In [ ]:
a

'python'

## 조건문 if

In [ ]:
a = 4
if a > 2:
  print('a는 2보다 크다')
else:
  print('a는 2보다 작거나 같다')

a는 2보다 크다

## 반복문 for

In [ ]:
for a in [1,2,3]:
  print(a)

1
2
3

## 반복문 while

In [ ]:
i = 0
while i < 3:
  i = i + 1
  print(i)

1
2
3

## 함수

In [ ]:
def add(a, b):
  return a+b

add(3, 4)

7

# 파이썬 자료형

## 파이썬 자료형

- 숫자
- 문자열
- 리스트
- 튜플
- 딕셔너리
- 집합
- 불

## 숫자

- 정수 : 123, -456, 0

- 실수 : 123.45, -123.45, 3.4e10

- 8진수 : 0o34, 0o25

- 16진수 : 0x2A, 0xFF

### 숫자 연산자

- 사칙연산 ( + - * / )

- 제곱연산 ( ** )

- 나머지 연산 ( % )

- 몫 연산 ( // )

In [ ]:
a = 4
b = 3

a ** b

64

In [ ]:
a % b

1

In [ ]:
a // b

1

## 문자열

- ' ', " "로 사용
- 따옴표로 둘러싸인 건 다 문자열

In [ ]:
a = 'python'
type(a)

str

In [ ]:
a = 123
type(a)

int

In [ ]:
a = '123'
type(a)

str

### 문자열 연산

- 더하기
- 곱하기
- 길이
- 인덱싱, 슬라이싱

In [ ]:
a = 'hello'
b = 'world'

print(a+b)

helloworld

In [ ]:
print(a*2)

hellohello

In [ ]:
len(a)

5

In [ ]:
a[0]

'h'

In [ ]:
a[0:2]
# 슬라이싱은 앞은 포함 뒤는 포함 X
# 즉 0 <= a < 2

'he'

In [ ]:
a[:3]

'hel'

In [ ]:
a[1:]

'ello'

## 리스트

In [ ]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

### 리스트 연산

- 더하기
- 곱하기
- 인덱싱과 슬라이싱

In [ ]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
a * 2

[1, 2, 3, 1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0:2]

[1, 2]

## 튜플

- 리스트랑 비슷한데 수정 불가

In [ ]:
a = [1,2,3]
a[0] = 2
a

[2, 2, 3]

In [ ]:
a = (1,2,3)
a

(1, 2, 3)

In [ ]:
a[0] = 2

TypeError: ignored

## 딕셔너리

- key와 value로 구성된 자료형

In [ ]:
a = {1:'정성문',
     2:'김세상'}
a

{1: '정성문', 2: '김세상'}

In [ ]:
a[2]

'김세상'

In [ ]:
a[2] = '김상세'
a

{1: '정성문', 2: '김상세'}

### 딕셔너리 함수

- keys
- values
- items

In [ ]:
a.keys()

dict_keys([1, 2])

In [ ]:
a.values()

dict_values(['정성문', '김상세'])

In [ ]:
a.items()

dict_items([(1, '정성문'), (2, '김상세')])

## 집합

- set
- 중복X
- 순서X

In [ ]:
a = set('hello')
a

{'e', 'h', 'l', 'o'}

In [ ]:
a = set([1,2,3,4,5,6])
b = set([2,4,6])
a

{1, 2, 3, 4, 5, 6}

### 집합 연산

- 교집합
- 합집합
- 차집합

In [ ]:
a & b

{2, 4, 6}

In [ ]:
a | b

{1, 2, 3, 4, 5, 6}

In [ ]:
a - b

{1, 3, 5}

## *불(bool)

불(bool)이란 참(True)과 거짓(False)을 나타내는 자료형이다. 불은  'True - 참', 'False - 거짓' 2가지 값만을 가질 수 있다.

In [ ]:
a = True
b = False

In [ ]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

### 불 조건문

불 자료형은 조건문의 반환 값으로도 사용

In [ ]:
1 == 1

True

In [ ]:
2 < 1

False

if문에서는 조건이 True 일 때 조건이 성립

In [ ]:
if a: ##True
    print('참')

참

In [ ]:
if b: ##False
    print('거짓')

### 자료형에 참과 거짓

문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓

In [ ]:
bool([])

False

In [ ]:
bool(['123'])

True

## 연습문제

### 주어진 딕셔너리에 다음과 같은 지시를 따르시오

In [ ]:
students = {'이지은':100,
     '강동원':95,
     '송강호':90,
     '배두나':85,
     '이주영':95}

### 문제1

1. 딕셔너리에서 점수를 리스트로 출력하시오.
2. 집합을 이용하여 중복값을 제거해 보시오.

In [ ]:
print("1번 :", list(students.values()))
print("2번 :", set(students.values()))

1번 : [100, 95, 90, 85, 95]
2번 : {90, 100, 85, 95}

### 문제2

1. 이지은 학생의 점수를 문자열 'A+'으로 바꾸시오.
2. items() 함수를 이용하여 딕셔너리를 확인하시오

In [ ]:
students['이지은'] = 'A+'
students.items()

dict_items([('이지은', 'A+'), ('강동원', 95), ('송강호', 90), ('배두나', 85), ('이주영', 95)])

# 파이썬 제어문

## if문

In [ ]:
a = 10
if a > 5:
  print('a는 5보다 크다')
else :
  print('a는 5보다 작거나 같다')

a는 5보다 크다

### *elif문

In [ ]:
a = 10
if a > 10:
    print('a는 10보다 크다')
elif a > 5:
    print('a는 5보다 크다')
else :
    print('a는 5보다 작거나 같다')

a는 5보다 크다

## while문

In [ ]:
i = 0

while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

### *break

while문 강제로 빠져나가기

In [ ]:
i = 0

while i < 10:
  print(i)
  i = i + 1
  if i == 5:
    break

0
1
2
3
4

## for문

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

### *continue

for문 안의 문장을 수행하는 도중에 continue문을 만나면 아래 문장 실행 안함

In [ ]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

## *리스트 컴프리헨션

기존에 배운 문법으로 0부터 9까지 정수를 순서대로 가지고 있는 리스트를 생성하는 코드

In [ ]:
numbers = []
for i in range(10):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

이러한 코드를 컴프리헨션으로 표기

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
[(x, y) for x in ['엽떡', '배떡', '죠떡'] for y in ['허니콤보', '통모짜핫도그']]

[('엽떡', '허니콤보'),
 ('엽떡', '통모짜핫도그'),
 ('배떡', '허니콤보'),
 ('배떡', '통모짜핫도그'),
 ('죠떡', '허니콤보'),
 ('죠떡', '통모짜핫도그')]

## 함수

In [ ]:
ages = ['10대', '20대', '30대', '40대']

def change_ages(text:str):
  return text[:2]

change_ages(ages[0])

'10'

## 내장함수

- int

  int형(정수형)으로 바꿔줌
- len

  길이 반환
- range

  특정 범위의 정수 배열 반환
- list

  list형으로 변환
- map

  리스트에 커스텀함수 매칭
- sum

  합계 반환
- max

  최댓값 반환
- min

  최솟값 반환

- str

  문자열로 변환

- type

  변수 유형 반환

In [ ]:
#int

ages = ['10대', '20대', '30대', '40대']

def change_ages(text:str):
  return int(text[:2])

change_ages(ages[0])

10

In [ ]:
#len
len(ages)

4

In [ ]:
#range
range(10)

range(0, 10)

In [ ]:
#list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#map

list(map(change_ages, ages))

[10, 20, 30, 40]

In [ ]:
#sum
sum(list(map(change_ages, ages)))

100

In [ ]:
#max
max(list(map(change_ages, ages)))

40

In [ ]:
#min
min(list(map(change_ages, ages)))

10

In [ ]:
#str
str(min(list(map(change_ages, ages))))

'10'

In [ ]:
#type
type(str(min(list(map(change_ages, ages)))))

str

## 연습문제

### 문제1. fruit_list를 생성하여 다음과 같은 지시를 따르시오.

1) 반복문을 사용하여 과일 이름을 key로 과일의 순서를 value로 갖는 fruit_dict를 생성하시오.

In [ ]:
fruit_list = ['오렌지', '사과', '딸기', '배', '수박']

fruit_dict = {}
for i in range(len(fruit_list)):
  fruit_dict[fruit_list[i]] = i

fruit_dict

{'딸기': 2, '배': 3, '사과': 1, '수박': 4, '오렌지': 0}

### 문제2. fruit_dict를 사용하여 다음의 지시를 따라 fruit_list를 수정하시오.

1) map 함수를 사용하여 fruit_list의 과일이름을 fruit_dict의 숫자로 바꾸시오.

In [ ]:
def change_list(text:str):
  return fruit_dict[text]

fruit_list = list(map(change_list, fruit_list))

fruit_list

[0, 1, 2, 3, 4]

### 문제3. 숫자를 과일로 다시 뒤집기

In [ ]:
fruit_dict

{'딸기': 2, '배': 3, '사과': 1, '수박': 4, '오렌지': 0}

In [ ]:
fruit_dict = {value:key for key, value in fruit_dict.items()}

fruit_list = list(map(change_list, fruit_list))
fruit_list

['오렌지', '사과', '딸기', '배', '수박']